/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  /* margin-top: 10px; */
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .article.thumb-article .article-body {
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    padding: 15px 5%;
    z-index:20;
  }
  
  .article.thumb-article .article-body .article-title > a {
    color:#FFF;
  }

  .owl-theme .owl-nav [class*='owl-'] {
    /* color: #222;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #222;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; */

    position: absolute;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: none;
    background: #222;
    color: #FFF;
    padding: 0px;
    cursor: pointer;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius:0;
    margin: 0;


   }

   .owl-theme .owl-nav .owl-prev {
    left: 0px;
}

.owl-theme .owl-nav .owl-next {
    right: 0px;
}


    .owl-theme .owl-nav [class*='owl-']:hover {
      /* background: #869791;
      color: #FFF;
      text-decoration: none; } */
      opacity: 0.8;
      background: #EF233C;}
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #2C2C2C;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #869791; }
